.header{
    background-color: rgb(243, 84, 84);
    height: 150px;
    align-items: center;
    justify-content: space-between;
    display:flex;
}
.menu{
    font-size:24PX ;
font-family: Verdana;
color: rgb(102, 57, 144);
font-weight: bolder;
}